.nav-bar {
  display: flex;
  justify-content: center;
}

.select-toon-wrapper {
  align-items: center;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-keys {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.total {
  font-weight: bold;
}

.link {
  margin-left: 5px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
}
