#root {
  height: 100%;
}

.current-week-affixes {
  text-align: center;
}

.select-toon-wrapper {
  align-items: center;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-keys {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.total {
  font-weight: bold;
}

.total h3 {
  color: white !important;
}

.link {
  display: flex;
  align-items: center;
}

.link p {
  margin-bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  position: sticky;
}

.footer-image {
  max-height: 18px;
  margin-left: 5px;
}

.nav-bar {
  border-radius: 0 !important;
  justify-content: center;
  align-items: center;
}
